body{
    font:1.2em normal Arial,sans-serif;
    color:#34495E;
  }
  
  h1{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-2px;
    font-size:2.5em;
    margin:20px 0;
  }
  
  
  table{
    border-collapse:collapse;
    width:80%;
    margin-left: 190px;
  }
  
  .blue{
    border:2px solid linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  }
  
  .blue thead{
    background:linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  }
  
  thead{
    color:white;
    height:45px;
  }
  
  th,td{
    text-align:center;
    padding:5px 0;
  }
  
  tbody tr:nth-child(even){
    background:#ECF0F1;
  }  

  tbody tr:nth-child(even) .icon{
    background:white;
    color: black;
  }  

  tbody tr:hover {
    background: #BDC3C7;
    color: #FFFFFF;
  }

  tbody tr:hover .icon {
    background: white;
    color: black;
  }

  #buttonContainer{
    display: flex; 
    justify-content: center;
}
  .add{
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    margin: auto;
    margin-top: 20px;
  }
  
  .add:hover,
  .add:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #FFFFFF;
    background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  }
  
  .add:hover {
    transform: translateY(-1px);
  }
  
  .add:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  #buttonDelete,#buttonCancel{
    margin: 10px 10px;
    width: 30%;
  }


.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 5px 35px 20px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin: 0 auto; 
    max-height: 100%;
    width: 35%;
    background-color: #f9f9f9; 
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
    z-index: 999; 
    display: none; 
}

.popup-form h2 {
    text-align: center; 
    font-size: 1.3em;
    padding-top: 0;
}

.popup-form label {
    display: block;  
    margin-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 0.9em;
}

.popup-form input[type="text"] {
    width: 100%; 
    height: 40px;
    padding: 5px; 
    margin-bottom: 10px;
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
}

.popup-form button[type="submit"]{
    margin-top:5px;
}

.popup-form input[type="text"]:hover{
    background-color: #f6f3f3;
}

.hidden {
	background-color:white;
}

.hidden:hover{
  background-color: white;
}

.gg-trash, .gg-pen{
  margin: auto;
}

.gg-trash:hover, .gg-pen:hover {
  box-shadow: 0 3px 6px #5643CC; /* Add a shadow effect when hovering */
}


.hidden:hover {
  background-color: white;
}